.projectsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 40px 0;
}

.projectList {
  margin-right: 40px;
  margin-bottom: 20px;
}

.projectCard {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 250px;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 20px #fff;
}

.projectImage {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
  border: 1px solid white;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  width: 100%;
}

.projectDetails {
  margin-bottom: 10px;
}

.projectDetails h3 {
  margin: 0 0 10px 0;
}

.projectName {
  color: black;
  cursor: pointer;
  &Active {
    color: #fff;
    font-weight: bold;
  }
}

.projectLinks {
  display: flex;
  flex-direction: column;
}

.projectLink {
  color: white;
  text-decoration: none;
  padding: 3px;
  background-color: #ed535a;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  transition: 0.2s;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  &:hover {
    background-color: #fff;
    color: #333;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  padding: 1px 2px;
  background-color: #fff;
  color: #333;
  margin-bottom: 5px;
  &:not(:last-child) {
    margin-right: 5px;
  }
}

@media (max-width: 400px)  {
  .projectsContainer {
    flex-direction: column;
    padding: 0;
  }
  .projectCard{
    flex-direction: column;
    width: 300px;
    height: auto;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .projectList{
    text-align: center;
    margin: 20px 0 30px;
  }
  .projectName{
    margin: 10px 0;
    &Active{
      margin: 10px 0;
    }
  }
  .projectImage {
    width: 90%;
    height: 150px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .projectLink {
    &:not(:last-child){
      margin: 10px 0;
    }
  }
}
