.skillDeck {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.skillCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  min-height: 250px;
  background-color: #333;
  color: #fff;
  padding: 50px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 20px #fff;
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.skillCardIconContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 50%;
}

.skillCardIcon {
  z-index: 5;
  color: #fff;
  
  width: 40px;
  height: 40px;
}

.skillCard h3 {
  margin: 0 0 10px 0;
}

.skillName {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.skillHr {
  color: white;
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  .skillDeck {
    flex-direction: column;
    width: 90%;
  }
  .skillCard {
    margin-right: 0;
    margin-bottom: 40px;
    width: 90%;
    &:not(:last-child){
      margin-right: 0;
    }
  }
}