.btn-link {
  padding: 10px 20px;
  background-color: white;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 20px #333;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: 0.2s;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:hover {
    background-color: #333;
    color: white;
  }
}

.btn-link a {
  
}

@media (max-width: 400px) {
  .btn-link {
    margin-bottom: 10px;
  }
}